.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

button {
    height: 48px;
    width: 20%;
    font-size: 18px;
    margin-right: 30px;
    background-color: #ff545f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

button:hover {opacity: .9;}